---
import Layout from '../layouts/Layout.astro';
import Card from '../components/CardTarifario.astro';
import Header from '../components/Header.astro';
import Player from '../components/Player.astro';
import '@fontsource-variable/big-shoulders-inline-text';
---

<Layout title="Radio 10 | En Estado Natural.">
	<main class="h-screen flex flex-col justify-between">

		<header>
			<Header/>
		</header>

		<section class="flex flex-col items-center">
			<h1 transition:animate="slide" class="text-white text-9xl font-extrabold text-center fuente-especial leading-[7rem]">En Estado <br> Natural</h1>
			<p class="text-white text-2xl font-semibold">Descarga nuestras APP. En diferentes plataformas</p>
			<p class="text-white">Descubre todo nuestro contenido en plataformas disponibles para IOS y Android</p>
			<div class="mt-8 flex">
				<a href="https://play.google.com/store/apps/details?id=com.maximacom.radio10ecuador&hl=es" target="_blank"><img src="img/botongoogle-300x102-1.png" class="m-1" width="140" height="140" alt="Google Play"></a>
				<a href="https://apps.apple.com/ec/app/radio-10-ecuador/id1635817832" target="_blank"><img src="img/buttonappstore-300x102-1.png" class="m-1" width="140" height="140" alt="App Store"></a>
			</div>

			<p class="text-white text-sm">© servistream.net | 2024</p>

		</section>

		<section transition:persist="media-player" >
			<Player />
		</section>

	</main>
</Layout>


<style>
	main{
		background-image: url(../img/AbstractPortalGlitchBackgrounds08.avif);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.fuente-especial{
		font-family: 'Big Shoulders Inline Text Variable', system-ui;
	}
</style>
