<header>
    <div class="flex justify-center container mx-auto py-4">
        <a href="/"><img src="img/LOGO-RADIO-10-blanco.svg" class="inline-block" width="150" height="150" alt="Logo"></a>
        
    </div>
    <nav class="flex justify-evenly items-center container mx-auto bg-slate-900/50 py-4 rounded-lg">
        <ul>
            <a href="/" class="uppercase text-white font-bold hover:text-[#c4186e] transition ease-in-out">Inicio</a>
            <a href="/nosotros" class="uppercase text-white font-bold ml-3 hover:text-[#c4186e] transition ease-in-out">Nosotros</a>
            <a href="/programacion" class="uppercase text-white font-bold ml-3 hover:text-[#c4186e] transition ease-in-out">Programación</a>
            <a href="/tarifario" class="uppercase text-white font-bold ml-3 hover:text-[#c4186e] transition ease-in-out">Tarifario</a>
            <a href="https://radio10.ec/wp-content/uploads/2023/08/CDIGO-DEONTOLGICO-DE-LA-ESTACIN-DE-RADIODIFUSIN-SONORA-DENOMINADA.pdf" target="_blank" class="uppercase text-white font-bold ml-3 hover:text-[#c4186e] transition ease-in-out">Código Deontológico</a>
            <a href="/contacto" class="uppercase text-white font-bold ml-3 hover:text-[#c4186e] transition ease-in-out">Contacto</a>
        </ul>
        <a href="https://wa.link/ymbu7x" target="_blank" class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br bg-[#25D366] to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class="relative px-5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Escribenos al WhatsApp
            </span>
            </a>
        <ul class="flex">
            <a href="https://www.facebook.com/radio10ecu/" target="_blank"><img src="img/HugeiconsFacebook02.svg" width="20" class="ml-3" alt="Facebook"></a>
            <a href="https://www.instagram.com/radio10ec/" target="_blank"><img src="img/HugeiconsInstagram.svg" width="20" class="ml-3" alt="Instagram"></a>
            <a href="https://twitter.com/radio10ec" target="_blank"><img src="img/HugeiconsNewTwitter.svg" width="20" class="ml-3" alt="Twitter"></a>
            <a href="#" target="_blank"><img src="img/HugeiconsTiktok.svg" width="20" class="ml-3" alt="TikTok"></a>
        </ul>
    </nav>
</header>